body{
    font-size: large;
}

.col-md-7{
    border: solid 1px gainsboro;
    margin-right: 5%;
    border-radius: 26px;
}

.col-md-4{
    padding-top: 1%;
    border: solid 1px gainsboro;
    border-radius: 26px;
}

.main-text{
    color: powderblue;
}

/*.mega{*/
    /*background-image: url('../images/concrete.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/

/*}*/

#wrong-guess{
    color: red;
}

#win-counter{
    color: green;
}
#textWin{
    letter-spacing: .7px;
}

#loss-counter{
    color: red;
}